.detail-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height:100%;
  /* box-shadow: 1px 1px 10px #f1f1f1; */
  border-radius: 100px;
  margin: 20px;
  flex-grow: 1;
  padding: 10px;
  overflow-wrap: anywhere;
  background-color: 	hsl(0, 0%, 95%, 5%);
  /* border: 1px solid white; */
  align-self: center;
}
.detail-intro {
  width: 100%;
}
.detail-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-avatar {
  width: 200px;
  border-radius: 360px;
  margin: 20px;
  border: 2px solid #2ea44f;
  background-color: #f1f1f1;
}
.detail-title {
  width: auto;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 3em;
  color: #f1f1f1;
  margin: 10px;
  padding: 0;
}
.atag-color {
  color: inherit;
}
.detail-owner {
  margin: -15px 0px 10px 10px;
  padding: 0;
  font-size: 2em;
}
.owner-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}
.repo-stats {
  padding: 15px 25px 20px 25px;
  width: 40%;
  height: 100%;
  background-color: #fffefe;
  border-radius: 4.5px;
}
.owner-stats-container {
  width: 40%;
  height: 90%;
  background-color: #fffefe;
  border-radius: 4.5px;
}
.owner-stats-git {
  width: 40%;
  margin: 20px;
}

.repo-stat-title {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0;
  color: #41b883;
  margin-bottom: 13px;
}
.repo-stat {
  margin-bottom: 8px;
  font-size: 1.1em;
  font-weight: 600;
  color: #273849;
  letter-spacing: 0;
}
/* vue: {
   title_color: "41b883",
   icon_color: "41b883",
   text_color: "273849",
   bg_color: "fffefe",
 }, */

.detail-badges {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  width: 100%;
}

.detail-description-wrap {
  height: auto;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
}

.detail-description {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}
