/********  CONTAINERS  ********/

.detail-container {
  width: 90%;
  margin: 20px;
  padding: 25px 10px 50px 10px;
  align-self: center;
  overflow-wrap: anywhere;
}

.detail-header {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "av title"
  "av owner"
  "av des"
  "av badges"
}

.detail-badges {
  grid-area: badges;
  width: 100%;
  margin: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
}

.detail-description-wrap {
  grid-area: des;
  height: auto;
  max-height: 7em;
  overflow: scroll;
  width: 95%;
  margin: 10px;
  flex-grow: 1;
  border-radius: 5px;
  background-color: white;
}

.stats-container {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repo-stats {
  width: 40%;
  height: 100%;
  margin-top: 10px;
  padding: 25px;
  border-radius: 4.5px;
  background-color: #fffefe;
}

/********  ELEMENTS  ********/

.detail-avatar {
  grid-area: av;
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid #2ea44f;
  border-radius: 360px;
  background-color: #f1f1f1;
}

.detail-title {
  grid-area: title;
  width: auto;
  margin: 0px 10px;
  padding: 0;
  align-self: flex-end;
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  color: #f1f1f1;
}

.detail-owner {
  grid-area: owner;
  padding: 0;
  margin-left: 10px;
  align-self: top;
  font-size: 2em;
}

.detail-description {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.forks {
  border: 1px solid #f1f1f1;
  background-color: black;
}

.atag-color {
  color: inherit;
}

.repo-stat-title {
  margin-bottom: 13px;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0;
  color: #41b883;
}

.repo-stat {
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0;
  color: #273849;
}

.stat-cat {
  margin-right: 15px;
}

.owner-stats-git {
  height: 100%;
  margin: 20px;
}

/********  MEDIA QUERIES  ********/

@media screen and (max-width: 1050px) {
  .detail-title {
    font-size: 2.5em;
  }
  .stats-container {
    flex-direction: column;
  }
  .repo-stats {
    width: 90%;
  }
  .owner-stats {
    width:100%;
    text-align: center;
  }
  .owner-stats-git {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .detail-avatar {
    width: 150px;
    height: 150px;
    margin: 15px;
    justify-self: center;
  }
  .detail-header {
    grid-template-columns: 200px auto;
    grid-template-areas:
      "av title"
      "av owner"
      "des des"
      "badges badges"
  }
  .detail-badges {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .detail-header {
    grid-template-columns: 160px auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "av badges"
      "title title"
      "owner owner"
      "des des"
  }
  .detail-title {
    margin-top: 15px;
    font-size: 2em;
  }
  .detail-owner {
    font-size: 1.5em;
  }
  .detail-badges {
    width: auto;
    padding-left: 10px;
    border-left: 1px solid white;
    flex-direction: column;
  }
  .detail-avatar {
    justify-self: flex-end;
    margin: 5px;
  }
}

@media screen and (max-width: 300px) {
  .detail-avatar {
    width: 100px;
    height: 100px;
  }
  .detail-header {
    grid-template-columns: 110px auto;
  }
}
