/********  CONTAINERS  ********/

.card-wrap {
  width: 25%;
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px 10px #f1f1f1;
  display: flex;
  flex-direction: column;
  place-self: stretch;
  flex-grow: 1;
  overflow-wrap: anywhere;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s ease-Out;
}

.card-wrap:hover {
  box-shadow: 1px 1px 20px inset #2ea44f;
}

.card-header {
  display: flex;
  flex-direction: row;
  transition: all .5s ease-Out;
}

.card-badges {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all .5s ease-Out;
}

.description-wrap {
  height: auto;
  flex-grow: 1;
  border-radius: 5px;
  background-color: white;
}

/********  ELEMENTS  ********/

.language {
  background-color: #2ea44f;
}

.stars {
  background-color: #2B75F5;
}

.card-avatar {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid #2ea44f;
  border-radius: 360px;
  background-color: #f1f1f1;
}

.card-title {
  font-family: 'Yantramanav', sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f1f1f1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  height:auto;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/********  MEDIA QUERIES  ********/

@media screen and (max-width: 1050px) {
  .card-wrap {
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .card-badges {
    flex-direction: row;
    justify-content: center;
  }
  .card-header {
    flex-direction: column;
    align-items: center;
  }
}
