.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  flex-grow: 1;
  font-size: 1.5em;
  color: #282c34;
  padding: 5px 20px;
  width: 100%;
  height: 3em;
  background-color: #f1f1f1;
  border: 3px solid #2ea44f;
}
.filter-container {
  width: 100%;
}

label {
  padding-right: 5px;
  color: #f1f1f1;
}

select {
  font-size: 1em;
  background-color: #f1f1f1;
  border: 2px solid #2ea44f;
  width: 25%;
  margin: 10px;
  margin-right: 20px;
}

form {
  flex-grow: 1;
  display: flex;
}

.button-search {
  box-sizing: border-box;
  background-color: #2ea44f;
  border: 3px solid #2ea44f;
  width: 125px;
  height: 4.5em;
  vertical-align: top;
  padding: 5px;
  font-size: 1em;
}

.drop {
  width: 30%;
  height: 2em;
}
