.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filter {
  flex-grow: 0;
  width: 20%;
  height: 2em;
  font-size: 1em;
  margin: 5px;
  margin-right: 20px;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-search {
  flex-grow: 1;
  box-sizing: border-box;
  background-color: #2ea44f;
  border: 3px solid #2ea44f;
  width: 125px;
  height: 2em;
  vertical-align: top;
  padding: 2px;
  font-size: 1em;
  cursor: pointer;
}

.drop {
  width: 30%;
  height: 2em;
}
