/********  RESET  ********/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}
select:focus {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img, abbr {
	border: 0;
}
address, caption, cite, code, dfn, em,
h1, h2, h3, h4, h5, h6, th, var {
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
}
q:before, q:after {
	content: '';
}
a, ins {
	text-decoration: none;
}

/********  GLOBALS  ********/

h1 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  letter-spacing: -3px;
  font-size: 4em;
  color: #f1f1f1;
	transition: all .5s ease-Out;
}

h2 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 3em;
  color: #2ea44f;
	transition: all .5s ease-Out;
}

span {
	font-weight: bold;
	color: #2ea44f;
}

input {
  flex-grow: 1;
  font-size: 1.5em;
  color: #282c34;
  padding: 5px 20px;
  width: 100%;
  height: 3em;
  background-color: #f1f1f1;
  border: 3px solid #2ea44f;
	transition: all .5s ease-Out;
}

label {
  color: #f1f1f1;
	transition: all .5s ease-Out;
}

select {
  font-size: 1em;
  background-color: #f1f1f1;
  border: 2px solid #2ea44f;
  width: 25%;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.button {
  color: #f1f1f1;
  box-shadow: 0px 0px 3px 1px #f1f1f1;
  background-color: #2ea44f;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 550;
}

.button:hover {
  box-shadow: 0px 0px 4px 2px inset #f1f1f1;
}

/********  MEDIA QUERIES  ********/

@media screen and (max-width: 1050px) {
	label {
	  font-size: .8em;
	}
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 300;
  }
  h2 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 2em;
  }
	input {
	  font-size: 1em;
	  border: 2px solid #2ea44f;
	}
}

@media screen and (max-width: 350px) {
	input {
	  font-size: .75em;
	  border: 2px solid #2ea44f;
	}
}
